/*********************************************************************\
HERO SECTION
\********************************************************************/
/*
*Hero background and color.................mobile view
*
*Hero layout and background changes........for bigger screens
*/


/* Hero background and color */

.hero {
    width:              100%;
    max-width:          1920px;
    display:            flex;
    flex-flow:          column nowrap;
    justify-content:    flex-start;
    align-items:        center;
    height:             var(--hero-height);
    gap:                .5rem;
  } 
  
  
   
  .hero-image {
    width:         100%;
    height:        50%;
    background:  url('/images/photos/mobile-smartphone-hero.jpg') no-repeat left center / cover;
    background:  url('/images/photos/mobile-smartphone-hero.webp') no-repeat left center / cover;
  }

  .hero-title, .hero-content {
    width:           100%;
    padding-left:    var(--padding-left-right);
    padding-right:   var(--padding-left-right);
  }

  .hero-title {
    margin-top: auto;
  }

  .hero-content {
    display:        flex;
    flex-flow:      column nowrap;
    justify-content: space-between;
    align-items:    center;
    gap:            1rem;
    flex-grow:      1;
   
  }

  .hero-buttons {
    margin-top: auto;
    padding-bottom: 1rem;
  }
  
  @media (min-width: 768px) {
    .hero-image {
      background: url('/images/photos/tablet-smartphone-hero.jpg') no-repeat left center / cover;
      background: url('/images/photos/tablet-smartphone-hero.webp') no-repeat left center / cover;
    }
    .hero-title {
      font-size: 2.5rem;
      line-height: calc(2.5rem * 1.5);
      width: 80%;
      align-self: flex-start;
      margin-top: auto;
    }
    .hero-text {
      width: 70%;
      align-self: flex-start;
    }
    .hero-buttons {
      margin-top: auto;
      margin-bottom:auto;
    }
  }

  @media (min-width: 1000px) {
    .hero-image {
      height: 65%;
      
    }
    .hero-text {
      width: 60%;
    }
  }
  @media (min-width: 1200px) {
    .hero {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
      "title img"
      "content content";
      place-items: start;
      
      
    }
    .hero-image {
      grid-area: img;
      background: url('/images/photos/smartphone-hero.jpg') no-repeat left center / cover;
      background: url('/images/photos/smartphone-hero.webp') no-repeat left center / cover;
      z-index: 1;
      height: 45.7vh;
     
    }
    .hero-title {
      grid-area: title;
      font-size: 5rem;
      line-height: calc(5rem * 1.5);
      place-self: center start;
      width: 140%;
      padding-left: 15%;
      z-index: 2;
      margin: 0;
      
    }

    .hero-content {
      grid-area: content;
      place-self: center start;
      padding-left: 7.5%; /*15% of the 50% of the screen to align with the title*/
      flex-flow: row nowrap;
      justify-content: space-between;
      
      
    }
    
    .hero-text {
      width: 90%;
    }
    .hero-buttons {
      margin: 0;
      padding: 0;
      align-self: flex-end;
      height: 100%;
      justify-content: center;
    }
  }

 
 @media (min-width: 1327px) {
    .hero-title {
      width: 130%;
    }
    .hero-content {
      place-self: start;
    }
    .hero-text {
      width: 75%;
    }
  }

 

 @media (min-width: 1456px) {
    .hero-title {
      width: 120%;
    }
  }

@media (min-width: 1603px) {
    .hero-title {
      width: 110%;
      position: relative;
      left: 25%;
      
    }
    .hero-text {
      width: 60%;
      position: relative;
      left: 14%;
      
    }
    
}
  @media (min-width: 1783px) {
    .hero-title {
      width: 100%;
    }
    .hero-text {
      width: 50%;
    }
  }

 @media (min-width: 1668px) and (max-height: 953px) {
  .hero-image {
    height: 100%;
  }
  .hero-title {
    top: 8.4vh;
  }
 }