html {
  font-size:        16px;
  color:            var(--primary-color);
}

  
  body {
    width:       100vw;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    text-align:  left;
    font-size:   var(--font-size-regular);
    line-height: var(--line-height-regular);
  }


    a {
      text-decoration: none;
    }

    .title {
      font-family:   'Josefin Sans', sans-serif;
      font-weight:    bold;
      font-size:      var(--font-size-big);
      line-height:    var(--line-height-big);
      margin:         0;
      margin-bottom:  .5rem;
      color:          var(--brand-color);
    }

      
      
      .title__hero {
        font-size:      calc(2 * var(--font-size-big)); 
        line-height:    calc(2 * var(--line-height-big));
        text-transform: uppercase;
        color:          var(--secondary-color);
        text-align:     center;
        
      }

    .subtitle {
      font-size:     calc(var(--font-size-regular) * 1.5);
      line-height:   calc(var(--line-height-regular) * 1.5);
      color:         var(--brand-color);
      margin-top:    0.625rem;
      margin-bottom: 0.625rem; 
    }

    .title__center {
      text-align: center;
      margin-top:    1rem;
      margin-bottom: 1rem;
    }

    .title__light {
      color: var(--primary-color);
    }



    .text__hero {
      font-size:   calc(1.5 * var(--font-size-regular)); 
      line-height: calc(1.5 * var(--line-height-regular));
      text-align:  center;
        
    }

    .text__medium {
      font-size:   var(--font-size-medium);
      line-height: var(--line-height-medium);
    }

    .text__small {
      font-size:   var(--font-size-small);
      line-height: var(--line-height-small);
    }

    .text__nav {
      font-family:    'Josefin Sans', sans-serif;
      font-size:      var(--font-size-small);
      line-height:    var(--line-height-small);
      font-weight:    bold;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      color:          var(--tertiary-color);
    }

      .text__dark {
        color: var(--brand-color);
      }
     

      .text__bold {
        font-weight: bold;
      }

      .text__50 {
        width:   50%;
        margin:  0 auto;
        /*padding: 1rem;*/
      }

      @media (max-width: 600px) {
        .text__50 {
          width: min(420px, 90%);
        }
      }   

/*


@media (max-width: 600px) {
  .title {
    font-size:   calc(var(--font-size-big) * .8);
    line-height: calc(var(--line-height-big) * .8);
  }
    .title__extra {
      font-size:   calc(1.5 * var(--font-size-big)); 
      line-height: calc(1.5 * var(--line-height-big));
    }
  
  .text--regular__responsive {
    font-size:   calc(var(--font-size-regular__responsive) * .8);
    line-height: calc(var(--line-height-regular__responsive) * .8);
  }

  .text__extra {
    font-size:   var(--font-size-regular); 
    line-height: var(--line-height-regular);
    
  }
}

@media (max-width: 470px) {
  .title {
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
  }
  .text--regular__responsive {
    font-size:   var(--font-size-medium);
    line-height: var(--line-height-medium);
  }  
}

*/